.tabs-wrap>div {
	overflow: hidden
}

.tabs-wrap>div:active,
.tabs-wrap>div:focus,
.tabs-wrap>div:hover {
	overflow: auto
}

.animation-underline:after {
	content: "";
	height: 7px;
	width: 0;
	background-image: url(../img/svg/underline.svg);
	background-repeat: repeat-x;
	will-change: width;
	display: block;
	background-size: auto 7px;
	transition: width .2s ease-in-out;
	background-position: 0 100%;
	margin-left: -4px;
	pointer-events: none
}

.animation-underline.active:after,
.animation-underline:focus:after,
.animation-underline:hover:after {
	width: calc(100% + 8px)
}

.arrow-menu:after,
.arrow-menu:before {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 0;
	border: solid transparent;
	content: "";
	pointer-events: none
}

.arrow-menu:after {
	border-bottom-color: #fff;
	border-width: 10px
}

.btn {
	display: inline-block;
	font-weight: 700;
	padding: .5rem 2rem;
	border-radius: 25px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	text-align: center
}

.btn.disabled {
	border-color: #e7e7ed;
	border-width: 1px;
	cursor: not-allowed;
	color: #8a8ba1
}

.btn.disabled,
.btn.disabled:hover {
	background-color: #f5f5f9
}

.btn-blue {
	background-color: #1f4def;
	color: #fff
}

.btn-blue:focus,
.btn-blue:hover {
	background-color: #0e37cd
}

.btn-tile {
	background-color: #121888;
	color: #fff
}

.btn-tile:focus,
.btn-tile:hover {
	background-color: #090d56
}

.btn-white {
	background-color: #fff;
	border-width: 1px;
	border-color: #e7e7ed
}

.btn-white:focus,
.btn-white:hover {
	background-color: #e7e7ed
}

.btn-flex {
	display: flex
}

.text-blue {
	color: #1f4def
}

.text-orange {
	color: #f56a00
}

.border-wafer {
	border-color: #f5f5f9
}

.bg-wafer,
.hover\:bg-wafer:hover {
	background-color: #f5f5f9
}

#button-list-arrow {
	transform: rotate(0deg)
}

#button-list-arrow.active {
	transform: rotate(180deg)
}

.button-with-arrow path {
	fill: currentColor
}

.button-with-arrow>span {
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
	-webkit-transform: translateX(10px);
	transform: translateX(10px)
}

.button-with-arrow>i {
	opacity: 0;
	transition: all .2s ease;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px)
}

.button-with-arrow>span+i {
	margin-left: 5px
}

.button-with-arrow:active>i,
.button-with-arrow:focus>i,
.button-with-arrow:hover>i {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.button-with-arrow:active>span,
.button-with-arrow:focus>span,
.button-with-arrow:hover>span {
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.sm-menu-item button.active [data-open] {
	display: none
}

.sm-menu-item button.active [data-close],
.sm-menu-item button [data-open] {
	display: block
}

.sm-menu-item button [data-close] {
	display: none
}

.shadow-spread {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.curve-line-bottom {
	-webkit-clip-path: ellipse(150% 100% at 50% 0);
	clip-path: ellipse(150% 100% at 50% 0);
	overflow: visible;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}

.checkbox-field-label {
	display: flex;
	align-items: center
}

.checkbox-field-input {
	display: none
}

.checkbox-field-check {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15);
	background-color: #f5f5f9;
	position: relative;
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 3px;
	transition: all .1s ease;
	outline: none;
	border: 0
}

.checkbox-field-check:before {
	display: inline-block;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(../img/svg/icon-check.svg);
	width: 14px;
	height: 11px;
	content: "";
	transform: scale(.1);
	transition: transform .2s ease
}

.checkbox-field-input:checked+.checkbox-field-check {
	background-color: #21c3a8;
	box-shadow: none;
	border-color: #11a88f
}

.checkbox-field-input:checked+.checkbox-field-check:before {
	transform: scale(1)
}

.checkbox-field-span {
	margin-left: .75rem
}

.radio {
	display: flex
}

.radio-input {
	width: 1.5rem;
	height: 1.5rem;
	border-width: 1px;
	border-color: #e7e7ed;
	position: relative;
	display: inline-block;
	background-color: #fff;
	padding: .5rem;
	overflow: hidden;
	-webkit-appearance: none;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .15)
}

.radio-input,
.radio-input:after {
	border-radius: 9999px;
	transition: all .1s ease
}

.radio-input:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	background-color: #21c3a8;
	content: "";
	width: 60%;
	height: 60%;
	-webkit-transform: scale(0);
	transform: scale(0)
}

.radio-input:checked {
	background-color: #fff
}

.radio-input:checked:after {
	-webkit-transform: scale(1);
	transform: scale(1)
}

.radio-label {
	margin-left: .75rem
}

.form-search-input {
	padding: .5rem 2.5rem;
	background-image: url(../img/svg/icon-search.svg);
	background-position: center left .55rem;
	background-repeat: no-repeat
}

.form-search-input {
	background-color: #f5f5f9;
	width: 100%;
	height: 2.75rem;
	border-color: #e7e7ed;
	border-width: 1px;
	border-radius: 9999px
}

.search .form-search-input {
	padding-left: 50px;
	font-size: 20px;
	line-height: 20px;
	border-width: 2px;
	background-position: center left 1rem;
	height: auto
}

.form-reset {
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	font-size: 1.125rem;
	width: 2.5rem;
	height: 2.5rem;
	margin-top: -1.1rem
}

.form-reset.hidden {
	display: none !important
}

.search .form-reset {
	right: 10px
}

@media (min-width:768px) {
	.sm\:column-count-3 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3
	}
}

@media (min-width:992px) {
	.md\:column-count-3 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3
	}

	.md\:column-count-1 {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1
	}
}

.-mt-100 {
	margin-top: -100px
}

.btn-tab {
	cursor: pointer
}

.tab-list ul {
	display: none
}

.tab-list .active {
	display: block
}

.select {
	position: relative;
	z-index: 3
}

.select-trigger {
	position: relative;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
	text-align: left;
	width: 100%;
	height: 2.5rem;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	background-color: #1f4def;
	color: #fff;
	border-radius: 25px;
	background-repeat: no-repeat;
	background-position: left .75rem center, right .75rem center;
	background-image: url(../img/svg/icon-globe.svg), url(../img/svg/icon-downarrow-white.svg)
}

.select-trigger-label {
	font-weight: 700;
	font-size: 1rem
}

.select-items {
	position: absolute;
	width: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	top: auto;
	bottom: 100%;
	box-shadow: 0 0 6px rgba(0, 0, 0, .15)
}

.select-item-btn {
	width: 100%;
	height: 2.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
	background-color: #fff
}

.select-item-btn:active,
.select-item-btn:hover {
	background-color: #f5f5f9
}

.language-select {
	cursor: pointer;
}

.language-select>div {
	pointer-events: none;
}

.language-panel {
	position: absolute;
	background-color: #fff;
	top: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .15)
}

.language-panel .icon {
	margin-right: 4px
}

.language-panel a {
	transition: all .2s ease
}

.language-panel a.active {
	border: 2px solid #121888
}

.rounded-card {
	border-radius: 15px
}

@media (min-width:992px) {
	.md\:rounded-card {
		border-radius: 15px
	}
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis
}

.truncate,
.whitespace-no-wrap {
	white-space: nowrap
}

.min-w-40 {
	min-width: 10rem
}

.w-140 {
	width: 35rem
}

#search-reference {
	display: none
}

@media (min-width:992px) {
	.md\:ml-3 {
		margin-left: .75rem
	}

	.md\:max-w-1\/3 {
		max-width: 33.333333%
	}
}

.search-dropdown {
	position: relative;
	z-index: 0;
	display: flex;
	height: 100%;
	align-items: center;
	width: 100%
}

.search-dropdown.active {
	z-index: 10
}

.search-dropdown-btn {
	display: flex;
	justify-content: space-between;
	z-index: 1;
	background-color: #fff;
	cursor: pointer
}

.search-dropdown-btn-wrap {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-right: .5rem
}

.search-dropdown-content {
	display: none;
	z-index: -1;
	position: absolute;
	background-color: #fff;
	top: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .15)
}

.search-dropdown.active .search-dropdown-content {
	display: block;
	z-index: 10
}

.flex-without-shrink {
	flex: 1 0 auto
}

.select-field {
	border-radius: .25rem
}

.select-field {
	position: relative;
	appearance: none;
	border-width: 1px;
	border-color: #e7e7ed;
	text-align: left;
	font-size: 1rem;
	height: 2.5rem;
	padding-left: 1rem;
	padding-right: 3rem;
	width: 100%;
	background-image: url(../img/svg/icon-down-arrow.svg);
	background-position: center right .75rem;
	background-size: 14px 9px;
	background-repeat: no-repeat
}

.count-checked-event {
	display: none
}

.search-dropdown-arrow {
	width: 11px;
	height: 7px;
	background-image: url(../img/svg/icon-down-arrow.svg);
	background-repeat: no-repeat;
	margin-left: 4px
}

.search-dropdown.active .search-dropdown-arrow {
	background-image: url(../img/svg/select-close.svg)
}

.right-col-item {
	position: relative
}

.right-col-item,
.right-col-item:after {
	transition: all .15s ease
}

.right-col-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	background: #ffa800;
	opacity: 0
}

.right-col-item:focus,
.right-col-item:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
}

.right-col-item:focus:after,
.right-col-item:hover:after {
	opacity: 1
}

.topbar-input {
	height: auto;
	border-radius: 6rem;
	background-size: 1rem;
	background-position: center left .8rem;
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: url(../img/svg/icon-search-grey.svg)
}

.panel-button-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 70%
}

.panel-dropup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	transition: all .2s ease 0s;
	z-index: 101
}

.panel-dropup {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 0;
	top: 0;
	width: 100%
}

.panel-dropup-content {
	background: #fff
}

.panel-dropup-header {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background: #fff;
	font-weight: 700;
	border-bottom: 1px solid #eaeaf0
}

i+.panel-dropup-title {
	margin-left: 10px
}

.panel-dropup-title {
	margin-right: auto
}

.panel-dropup-close {
	position: absolute;
	right: 0;
	padding: 15px;
	cursor: pointer
}

[data-mobile-modal] {
	display: none
}

@media (max-width:1100px) {
	.hidden-1000 {
		display: none
	}
}

@media (max-width:992px) {
	.hidden-992 {
		display: none
	}
}

.footer-bg-form {
	background-image: url(../img/svg/footer-mobile.svg);
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	width: 100%;
	height: 200px;
	background-image: url(../img/svg/footer-mobile-nl.svg)
}

.footer-abs-image {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(../img/svg/footer-leaf.svg);
	background-size: cover;
	width: 80px;
	height: 80px;
	bottom: -35px;
	transform: rotate(-58deg);
	pointer-events: none;
	user-select: none;
	bottom: 0;
	top: -20px
}

.footer-bottom {
	width: 100%;
	max-width: 77rem;
	margin: 0 auto;
	padding-right: 1rem;
	padding-left: 1rem
}

.footer-bottom.cp {
	max-width: 75rem
}

.footer-bottom.cp {
	padding-left: 0;
	padding-right: 0
}

.at-center-y {
	top: 50%;
	transform: translateY(-50%)
}

.search-reference {
	display: none
}

.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/flags.svg)
}

.icon-spain {
	width: 16px;
	height: 16px;
	background-position: 0 0
}

.icon-germany {
	width: 16px;
	height: 16px;
	background-position: -32px 0
}

.icon-sweden {
	width: 16px;
	height: 16px;
	background-position: -64px 0
}

.icon-france {
	width: 16px;
	height: 16px;
	background-position: -96px 0
}

.icon-poland {
	width: 16px;
	height: 16px;
	background-position: -128px 0
}

.icon-netherlands {
	width: 16px;
	height: 16px;
	background-position: -160px 0
}

.icon-russia {
	width: 16px;
	height: 16px;
	background-position: -192px 0
}

.icon-united-kingdom {
	width: 16px;
	height: 16px;
	background-position: -224px 0
}

@media screen and (min-width:992px) {
	.footer-abs-image {
		position: absolute;
		left: auto;
		transform: rotate(0deg);
		bottom: auto;
		top: 0;
		width: 100px;
		height: 100px
	}

	.footer-bg-form {
		height: 300px;
		background-image: url(../img/svg/footer-desktop-nl.svg);
		background-size: 1450px 300px;
		background-repeat: repeat-x
	}

	.md\:shadow-gray {
		box-shadow: 0 2px 5px rgba(0, 0, 0, .1)
	}
}

.group>svg {
	min-width: 41px
}

.sm-menu-item>div {
	display: none
}

.button.disabled,
.button.disabled:hover {
	background-color: #f5f5f9
}

.button.disabled {
	border-color: #e7e7ed;
	border-width: 1px;
	cursor: not-allowed;
	color: #8a8ba1
}

.button {
	display: inline-block;
	font-weight: 700;
	padding: .5rem 2rem;
	border-radius: 25px;
	box-shadow: 0 2px 5px rgb(0 0 0/10%);
	text-align: center
}

.autosuggest-container {
	height: auto;
	background-color: #fff;
	display: none;
	overflow: auto;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	max-height: 180px
}

.autosuggest-item {
	cursor: pointer
}

.autosuggest-item+.autosuggest-item {
	border-color: #e7e7ed;
	border-top-width: 1px
}

.autosuggest-flag {
	margin-right: 1rem;
	font-size: 2rem;
	width: 3rem
}

@-webkit-keyframes rotate {
	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

@keyframes rotate {
	to {
		-webkit-transform: translateY(-50%) rotate(1turn);
		transform: translateY(-50%) rotate(1turn)
	}
}

.autosuggest-container {
	max-height: 150px
}

@media (min-width:992px) {
	.autosuggest-container {
		max-height: 230px
	}
}

.accordion-trigger [data-close] {
	display: none
}

.accordion-open .accordion-content,
.accordion-trigger [data-open] {
	display: block
}

.accordion-hide .accordion-content,
.accordion-hide .accordion-trigger svg:last-child,
.accordion-open .accordion-trigger svg:first-child {
	display: none
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Light"), local("ProximaNova-Light"), url(../fonts/ProximaNova/ProximaNova-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url(../fonts/ProximaNova/ProximaNova-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url(../fonts/ProximaNova/ProximaNova-Semibold.woff);
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url(../fonts/ProximaNova/ProximaNova-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url(../fonts/ProximaNova/ProximaNova-Extrabld.woff);
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: ProximaNova;
	src: local("Proxima Nova Black"), local("ProximaNova-Black"), url(../fonts/ProximaNova/ProximaNova-Black.woff);
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: Hero;
	src: local("Hero Light"), url(../fonts/Hero/Herolight.woff) format("woff");
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: Hero;
	src: local("Hero Regular"), url(../fonts/Hero/Heroregular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Hero;
	src: local("Hero Bold"), url(../fonts/Hero/Herobold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: icons;
	src: url(../fonts/icons/icons.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: block
}

[class*=" icon-"],
[class^=icon-] {
	font-family: icons !important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}